In [6]:
import requests
import json
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import warnings
warnings.filterwarnings("ignore")

**상위 랭커 10명 데이터 추출**
- KT곽준혁
- GenG황세종
- KimYooMin
- Prime림광철
- 리바이브상민
- 청소
- PGN이지환
- 태연
- KT박찬화
- Innate강혁

In [16]:
api_key = "test_910a5c8780291e55a62102bd73f07d14e01e52e4bea1f86c741fb5432ff8934defe8d04e6d233bd35cf2fabdeb93fb0d"
# 사용자 ID 가져오기
def get_user_id(nickname):
    user_url = "https://open.api.nexon.com/fconline/v1/id?nickname=" + nickname
    result = requests.get(user_url,
                     headers = {"x-nxopen-api-key" : api_key})
    user_info = result.json()
    return user_info['ouid']

In [33]:
# 사용자의 매치정보
def get_match_info(ouid, matchtype, number):
    match_url = f"https://open.api.nexon.com/fconline/v1/user/match?ouid={ouid}&matchtype={matchtype}&offset=0&limit={number}"
    match_result = requests.get(match_url, headers={"x-nxopen-api-key": api_key})
    match_info = match_result.json()
    match_user = pd.DataFrame()

    for i , m in tqdm(enumerate(match_info)):
        match_ids = match_info[i]
        # 매치 상세정보 조회
        match_detail_url = f"https://open.api.nexon.com/fconline/v1/match-detail?matchid={match_ids}"
        match_detail_result = requests.get(match_detail_url, headers={"x-nxopen-api-key": api_key})
        match_detail_info = match_detail_result.json()
        match_detail = pd.DataFrame(match_detail_info)

        match_user = pd.concat([match_user, match_detail], axis=0)

    matchids = match_info[0]
    match_detail_url = f"https://open.api.nexon.com/fconline/v1/match-detail?matchid={match_ids}"
    match_detail_result = requests.get(match_detail_url, headers={"x-nxopen-api-key": api_key})
    match_detail_info = match_detail_result.json()

    # 매치정보, 상세정보, 슛, 패스, 수비 등 추출
    match_Info  = pd.DataFrame()
    match_Detail  = pd.DataFrame()
    match_Shoot  = pd.DataFrame()
    match_Pass  = pd.DataFrame()
    match_Defence  = pd.DataFrame()
    
    # 리스트 형태로 전환
    li_ouid = [i.get('ouid') for i in match_user['matchInfo']]
    li_nickname = [i.get('nickname') for i in match_user['matchInfo']]
    li_matchDetail = [i.get('matchDetail') for i in match_user['matchInfo']]
    li_shootDetail = [i.get('shoot') for i in match_user['matchInfo']]
    li_passDetail = [i.get('pass') for i in match_user['matchInfo']]
    li_defenceDetail = [i.get('defence') for i in match_user['matchInfo']]

    match_Info = match_user.iloc[:, :2].reset_index(drop=True)
    ouid_data = pd.DataFrame(li_ouid)
    nickname_data = pd.DataFrame(li_nickname)
    match_Detail = pd.DataFrame(li_matchDetail)
    match_Shoot = pd.DataFrame(li_shootDetail)
    match_Pass = pd.DataFrame(li_passDetail)
    match_Defence = pd.DataFrame(li_defenceDetail)

    ouid_data = ouid_data.rename(columns={0 : 'ouid'})
    nickname_data = nickname_data.rename(columns={0 : 'nickname'})

    user = pd.concat([match_Info, ouid_data, nickname_data, match_Detail, match_Shoot,
                     match_Pass, match_Defence], axis = 1)
    return user

## 상위 랭커 10명 게임 매칭 정보
### 게임 플레이 횟수가 달라 따로 추출
**상대 전적까지 확인됨**

In [34]:
# matchtype :50 (공식경기)
ouid1 = get_user_id('KT곽준혁')
KT곽준혁 = get_match_info(ouid1, 50, 50) 
KT곽준혁.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,671143a2269f63374d09c531,2024-10-17T17:14:54,5dc6f3efa3b748d3873bd12e6c8ec71d,KT곽준혁,202411,패,0,0.0,0.0,0.0,...,7.0,7.0,17.0,17.0,0.0,0.0,10.0,0.0,11.0,5.0
1,671143a2269f63374d09c531,2024-10-17T17:14:54,0a253aa42a18f96f48d8de06254b5e67,이터니티리안,202411,승,0,0.0,0.0,1.0,...,4.0,3.0,34.0,28.0,0.0,0.0,9.0,1.0,12.0,10.0
2,6710bf8ac69e255de3f32147,2024-10-17T07:51:17,5dc6f3efa3b748d3873bd12e6c8ec71d,KT곽준혁,202411,패,0,0.0,0.0,0.0,...,5.0,5.0,14.0,13.0,1.0,0.0,13.0,1.0,20.0,10.0

In [21]:
ouid2 = get_user_id('GenG황세종')
GenG황세종 = get_match_info(ouid2, 50, 50) 
GenG황세종.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,67113d2803a0f90b7ec7db82,2024-10-17T16:47:20,c3e51479df54a0d6eb0b840eba788b6c,GenG황세종,202410,승,0,0,1,0,...,8,8,19,15,0,0,15,0,11,7
1,67113d2803a0f90b7ec7db82,2024-10-17T16:47:20,8bf8e90163bf6bed66d0c2198405aad0,여의도참새,202410,패,0,0,0,0,...,1,1,29,26,0,0,7,1,8,4
2,67113a27d623e62bd7c17e2f,2024-10-17T16:35:22,c3e51479df54a0d6eb0b840eba788b6c,GenG황세종,202410,승,0,0,1,0,...,1,1,16,15,0,0,8,0,19,11

In [22]:
ouid3 = get_user_id('KimYooMin')
KimYooMin = get_match_info(ouid3, 50, 50) 
KimYooMin.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6711117325ef37f81835b477,2024-10-17T13:40:26,a5aac5a6b9f04d37fe806f0a5a06d0c3,예국,202411,패,0,0.0,0.0,0.0,...,2.0,2.0,18.0,17.0,0.0,0.0,3.0,0.0,11.0,5.0
1,6711117325ef37f81835b477,2024-10-17T13:40:26,273cb73976b33dc7ee374a1dde36f16b,KimYooMin,202411,승,0,0.0,0.0,0.0,...,4.0,3.0,13.0,13.0,0.0,0.0,10.0,0.0,13.0,10.0
2,67110e666c05e7cc9709a403,2024-10-17T13:28:23,8151c7179444b2c868e35957faf033d2,LostInYourEyes,202411,패,0,0.0,0.0,0.0,...,1.0,0.0,15.0,11.0,0.0,0.0,10.0,0.0,14.0,5.0

In [23]:
ouid4 = get_user_id('Prime림광철')
Prime림광철 = get_match_info(ouid4, 50, 50) 
Prime림광철.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,67117a8f25047d53b4769c4c,2024-10-17T21:04:33,01afcd5672e0e2ab5d63a2259445e8e9,Prime림광철,202410,패,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,67117a8f25047d53b4769c4c,2024-10-17T21:04:33,beffe07f683392e25a2a6aec8c62f24d,망치버거,202410,승,1,1.0,0.0,0.0,...,2.0,1.0,12.0,11.0,0.0,0.0,8.0,2.0,5.0,2.0
2,671179cbe6e2e075bc078fbf,2024-10-17T20:58:15,a4250dacc711e3afbdb36c4e33fb9eb7,EternityDE,202410,패,2,1.0,0.0,0.0,...,0.0,0.0,6.0,6.0,0.0,0.0,3.0,0.0,2.0,0.0

In [24]:
ouid5 = get_user_id('리바이브상민')
리바이브상민 = get_match_info(ouid5, 50, 50) 
리바이브상민.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,67117474707cf8c81435fff1,2024-10-17T20:44:12,c305d74d5466eadc694c352a7c2d96af,리바이브상민,202410,패,0,0.0,3.0,0.0,...,6.0,5.0,18.0,14.0,1.0,0.0,13.0,2.0,17.0,8.0
1,67117474707cf8c81435fff1,2024-10-17T20:44:12,03aad6ad2bbae7caa8219148a7689d07,리바이브일산,202410,승,0,0.0,0.0,2.0,...,8.0,8.0,33.0,25.0,0.0,0.0,10.0,1.0,9.0,6.0
2,6711719a6c23f1449ff73c2f,2024-10-17T20:32:24,c305d74d5466eadc694c352a7c2d96af,리바이브상민,202410,승,0,0.0,0.0,0.0,...,6.0,5.0,31.0,29.0,0.0,0.0,14.0,0.0,20.0,15.0

In [38]:
ouid6 = get_user_id('청소')
청소 = get_match_info(ouid6, 50, 30) 
청소.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,670e424b4ec35b7ea4fcab96,2024-10-15T10:27:00,4f3fd3cf2a639bf0002c93993bf125da,이뿌게봐주세용,202410,패,2,1,0,0,...,1,1,5,1,0,0,5,1,7,5
1,670e424b4ec35b7ea4fcab96,2024-10-15T10:27:00,6bab5c402e80fbd11d02e51928351201,청소,202410,승,1,0,0,0,...,0,0,10,9,0,0,1,0,3,2
2,670e404197cfd5e09fd5cc0a,2024-10-15T10:21:26,ac8ea70e1a1ceb90a2c2f8914b45d915,런명보라볼피아나,202410,패,2,1,0,0,...,8,6,14,11,1,0,10,0,9,4

In [40]:
ouid7 = get_user_id('PGN이지환')
PGN이지환 = get_match_info(ouid7, 50, 50) 
PGN이지환.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,670cf5208f958860203370c4,2024-10-14T10:50:32,273cb73976b33dc7ee374a1dde36f16b,KimYooMin,202410,패,0,0.0,1.0,0.0,...,5.0,5.0,20.0,19.0,0.0,0.0,4.0,0.0,14.0,11.0
1,670cf5208f958860203370c4,2024-10-14T10:50:32,b1acee7807c82413bb0495b6d3efb600,PGN이지환,202410,승,0,0.0,0.0,0.0,...,9.0,9.0,11.0,10.0,0.0,0.0,8.0,0.0,12.0,7.0
2,670cf2c0c00e11bc0cb243cb,2024-10-14T10:40:03,81418b567a52b453c0b69e3dbae707fb,ZFlip왕이,202410,패,0,0.0,0.0,0.0,...,2.0,1.0,19.0,16.0,0.0,0.0,11.0,1.0,18.0,5.0

In [41]:
ouid8 = get_user_id('태연')
태연 = get_match_info(ouid8, 50, 50) 
태연.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6711da5f8f79a18290f0f15a,2024-10-18T03:51:24,421af6a45911cfcfe753cc0086d54393,대구라행복합니다,202411,패,2,1.0,0.0,0.0,...,0.0,0.0,6.0,5.0,0.0,0.0,3.0,0.0,5.0,2.0
1,6711da5f8f79a18290f0f15a,2024-10-18T03:51:24,fb9acbc7b4843ade8708a86dd5f22166,태연,202411,승,1,0.0,0.0,0.0,...,0.0,0.0,12.0,12.0,0.0,0.0,3.0,1.0,5.0,3.0
2,6711d7944aba2e20a28dd7e1,2024-10-18T03:43:38,620e0e259a7f3e80a33c3c82c5938707,90min불주먹,202411,패,2,3.0,0.0,0.0,...,8.0,6.0,6.0,5.0,1.0,1.0,9.0,1.0,10.0,4.0

In [42]:
ouid9 = get_user_id('KT박찬화')
KT박찬화 = get_match_info(ouid9, 50, 50) 
KT박찬화.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6711c8501192fc12b7acd6aa,2024-10-18T02:42:00,865503614bd31b4146360d2225a2facd,KT박찬화,202411,패,0,0,0,0,...,2,2,24,21,0,0,8,1,12,5
1,6711c8501192fc12b7acd6aa,2024-10-18T02:42:00,ea9090b87397078a228830e4f6d66e4e,Edith동환,202411,승,0,0,0,0,...,5,4,17,16,0,0,9,0,5,3
2,6711c53aec48b8739fb94b81,2024-10-18T02:27:53,865503614bd31b4146360d2225a2facd,KT박찬화,202411,승,0,0,0,0,...,6,5,22,19,0,0,12,1,12,6

In [44]:
ouid10 = get_user_id('Innate강혁')
Innate강혁 = get_match_info(ouid10, 50, 30) 
Innate강혁.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6710e884a4be11e5e33bc0dc,2024-10-17T10:46:12,8d40cb2989395abc489696067d2995e6,제리포터,202410,패,0,0.0,0.0,0.0,...,4.0,4.0,27.0,22.0,0.0,0.0,17.0,1.0,13.0,6.0
1,6710e884a4be11e5e33bc0dc,2024-10-17T10:46:12,bf7aa48910ef14c5866851f455a9d37f,Innate강혁,202410,승,0,0.0,0.0,0.0,...,3.0,3.0,16.0,14.0,0.0,0.0,8.0,0.0,27.0,16.0
2,6710e58c69170e8504310814,2024-10-17T10:34:08,bf7aa48910ef14c5866851f455a9d37f,Innate강혁,202410,승,0,0.0,2.0,0.0,...,2.0,2.0,18.0,16.0,0.0,0.0,6.0,1.0,11.0,6.0

In [45]:
top10_ranker_game = pd.concat([KT곽준혁, GenG황세종, KimYooMin, Prime림광철, 리바이브상민, 청소, PGN이지환, 태연, KT박찬화, Innate강혁], axis=0)
top10_ranker_game.head(3)

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,671143a2269f63374d09c531,2024-10-17T17:14:54,5dc6f3efa3b748d3873bd12e6c8ec71d,KT곽준혁,202411,패,0,0.0,0.0,0.0,...,7.0,7.0,17.0,17.0,0.0,0.0,10.0,0.0,11.0,5.0
1,671143a2269f63374d09c531,2024-10-17T17:14:54,0a253aa42a18f96f48d8de06254b5e67,이터니티리안,202411,승,0,0.0,0.0,1.0,...,4.0,3.0,34.0,28.0,0.0,0.0,9.0,1.0,12.0,10.0
2,6710bf8ac69e255de3f32147,2024-10-17T07:51:17,5dc6f3efa3b748d3873bd12e6c8ec71d,KT곽준혁,202411,패,0,0.0,0.0,0.0,...,5.0,5.0,14.0,13.0,1.0,0.0,13.0,1.0,20.0,10.0

In [48]:
# 상위 랭커 게임 기록 csv파일로 저장
top10_ranker_game.to_csv('top10_ranker_game.csv', index=False)

## ------------------------------------------------------------------------------------

**하위랭커 9992 ~ 10000 순위 9명 데이터 추출**
- GUl멘
- 새르히오라모스
- 검둥이축구단
- 월컵우승캐나다
- 지원이의ak47
- 병훈부시
- 이지은0516
- 소금도둥덕예둥
- 벤제마

In [76]:
api_key = "test_910a5c8780291e55a62102bd73f07d149803da96ebd4d497fa3cc7eddf574a06efe8d04e6d233bd35cf2fabdeb93fb0d"
# 사용자 ID 가져오기
def get_user_id2(nickname):
    user_url = "https://open.api.nexon.com/fconline/v1/id?nickname=" + nickname
    result = requests.get(user_url,
                     headers = {"x-nxopen-api-key" : api_key})
    user_info = result.json()
    return user_info['ouid']

## 하위랭커 9992 ~ 10000 순위 9명 게임 매칭 정보
### 게임 플레이 횟수가 달라 따로 추출
**상대 전적까지 확인됨**

In [77]:
# matchtype :50 (공식경기)
ouid2_1 = get_user_id2('GUl멘')
GUl멘 = get_match_info(ouid2_1, 50, 50)
GUl멘.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,66fd4b4dd2234dab0ca7b90e,2024-10-02T13:42:19,eae34ad352194c477d893eeaa1e4d7da,GUl멘,202410,승,0,0.0,1.0,0.0,...,4.0,3.0,17.0,14.0,0.0,0.0,7.0,2.0,8.0,4.0
1,66fd4b4dd2234dab0ca7b90e,2024-10-02T13:42:19,8eaf7bddd7c10753a135f430021df38f,오늘의FC,202410,패,0,0.0,2.0,0.0,...,10.0,10.0,7.0,7.0,0.0,0.0,6.0,0.0,6.0,3.0
2,66fd489c03db5550f08d993c,2024-10-02T13:31:36,eae34ad352194c477d893eeaa1e4d7da,GUl멘,202410,무,0,0.0,0.0,0.0,...,2.0,2.0,15.0,11.0,0.0,0.0,13.0,2.0,3.0,2.0

In [79]:
# matchtype :50 (공식경기)
ouid2_2 = get_user_id2('새르히오라모스')
새르히오라모스 = get_match_info(ouid2_2, 50, 30)
새르히오라모스.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6707c56f1afb4f8340c6f233,2024-10-10T12:25:15,7d5f1213d8dfd0ccefa33569b59de2f7,새르히오라모스,202410,승,1,0.0,0.0,0.0,...,7.0,7.0,16.0,12.0,0.0,0.0,9.0,1.0,5.0,4.0
1,6707c56f1afb4f8340c6f233,2024-10-10T12:25:15,8909451cfb5a9cd23239a214dd9a485b,JUSEOO,202410,패,2,1.0,0.0,0.0,...,0.0,0.0,27.0,21.0,0.0,0.0,14.0,0.0,9.0,6.0
2,6707c2bf3c161937c7edda57,2024-10-10T12:15:09,7d5f1213d8dfd0ccefa33569b59de2f7,새르히오라모스,202410,무,0,1.0,0.0,0.0,...,5.0,4.0,17.0,17.0,1.0,1.0,10.0,0.0,5.0,4.0

In [83]:
# matchtype :50 (공식경기)
ouid2_3 = get_user_id2('검둥이축구단')
검둥이축구단 = get_match_info(ouid2_3, 50, 20)
검둥이축구단.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6711c9e9f0298e70f4105786,2024-10-18T02:48:24,b87ece777ceda088b72d087c7d9c0138,피파나랑안맞아요,202411,패,0,0,2,0,...,2,2,18,15,0,0,12,1,18,7
1,6711c9e9f0298e70f4105786,2024-10-18T02:48:24,b4a8c5f53e2afea930a235ec4f0d42f8,검둥이축구단,202411,승,0,0,1,1,...,0,0,25,22,0,0,3,1,15,9
2,6711c6a6d4873870706d3bb5,2024-10-18T02:36:48,cdea728cc9e9561c9c97ca3ea36dc2d2,현쓰에,202411,승,0,1,3,0,...,6,5,13,9,0,0,7,1,11,5

In [92]:
# matchtype :50 (공식경기)
ouid2_4 = get_user_id2('월컵우승캐나다')
월컵우승캐나다 = get_match_info(ouid2_4, 50, 10)
월컵우승캐나다.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6710ffc876bdbc2adc4826a4,2024-10-17T12:26:39,28903727b30ea481f57b19d1e4a9641e,월컵우승캐나다,202411,무,0,0,0,1,...,1,1,19,15,0,0,3,0,10,5
1,6710ffc876bdbc2adc4826a4,2024-10-17T12:26:39,c78c2c28fc1e9a040d28c310e42c8a1c,한명보냅니다,202411,무,0,0,2,0,...,3,3,16,15,0,0,6,0,9,4
2,6710fcedaae3db3047bbc8b3,2024-10-17T12:14:04,28903727b30ea481f57b19d1e4a9641e,월컵우승캐나다,202411,승,0,0,0,0,...,6,2,21,21,2,1,6,0,6,4

In [97]:
# matchtype :50 (공식경기)
ouid2_5 = get_user_id2('지원이의ak47')
지원이의ak47 = get_match_info(ouid2_5, 50, 50)
지원이의ak47.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,670df1d17937a3471216390b,2024-10-15T04:49:11,392939a6279cc1bd5b80a1aa85f9d8ca,힝카르도,202410,승,0,0,2,0,...,3,3,15,12,0,0,6,1,8,4
1,670df1d17937a3471216390b,2024-10-15T04:49:11,4a28e00835c517dab5de25f4450bc4a3,지원이의ak47,202410,패,0,0,1,0,...,0,0,36,31,0,0,13,2,15,12
2,670def0ff8b6bbdb192ca2dc,2024-10-15T04:37:16,f60ef36d38ed54705a393e9fa36cafa2,어거지조상,202410,승,0,0,0,0,...,3,3,33,32,4,3,4,0,16,9

In [100]:
# matchtype :50 (공식경기)
ouid2_6 = get_user_id2('병훈부시')
병훈부시 = get_match_info(ouid2_6, 50, 20)
병훈부시.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6708cbbe3fbaee2ec679aaec,2024-10-11T07:04:55,edffc87243437d244e9c221921999e5d,깡통맛,202410,승,0,0,1,0,...,9,9,17,16,0,0,11,0,6,2
1,6708cbbe3fbaee2ec679aaec,2024-10-11T07:04:55,bcc8e179dda06eb8ead84921c0af1309,병훈부시,202410,패,0,0,0,0,...,3,3,25,22,1,0,10,1,5,1
2,6708c951295864f1e7b2662b,2024-10-11T06:54:31,26ef192730e7cf250a26f22b26ded540,bosun2,202410,무,0,0,0,0,...,4,3,11,10,0,0,9,0,21,10

In [101]:
# matchtype :50 (공식경기)
ouid2_7 = get_user_id2('이지은0516')
이지은0516 = get_match_info(ouid2_7, 50, 50)
이지은0516.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,670b6984b4fb9ed1651675b4,2024-10-13T06:38:14,0cbfbd35c658481594655ff6ab95b13b,필풗킹포든,202410,패,2,1.0,0.0,0.0,...,1.0,1.0,14.0,12.0,0.0,0.0,4.0,0.0,4.0,3.0
1,670b6984b4fb9ed1651675b4,2024-10-13T06:38:14,2d5989df380e95cbbcab3af427bed8c9,이지은0516,202410,승,1,0.0,0.0,0.0,...,2.0,2.0,20.0,18.0,0.0,0.0,6.0,0.0,21.0,12.0
2,670b682767a5760ed02b0630,2024-10-13T06:32:35,28e2d7e961c2a0c9d6a0b106c6fa986f,숙대미니공강깅,202410,승,1,0.0,0.0,0.0,...,0.0,0.0,13.0,13.0,0.0,0.0,1.0,1.0,5.0,5.0

In [103]:
# matchtype :50 (공식경기)
ouid2_8 = get_user_id2('소금도둥덕예둥')
소금도둥덕예둥 = get_match_info(ouid2_8, 50, 30)
소금도둥덕예둥.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,6711a333f3d944c09803e961,2024-10-18T00:02:19,c061448ba0a7f86d58fe19562202aa74,유니스빈티지,202410,패,0,0,0,0,...,1,1,19,18,0,0,6,0,3,3
1,6711a333f3d944c09803e961,2024-10-18T00:02:19,3a878ea1f97b66e3624e3fe83cce03bb,소금도둥덕예둥,202410,승,0,0,1,0,...,0,0,31,28,0,0,14,2,10,2
2,6711a1bd75aaf82ed0fe65b2,2024-10-17T23:51:22,6e1e6b1f4fd8a5277776972357bb2e83,릐우넬메시,202410,승,1,0,0,0,...,3,3,9,8,0,0,4,0,6,5

In [104]:
# matchtype :50 (공식경기)
ouid2_9 = get_user_id2('벤제마')
벤제마 = get_match_info(ouid2_9, 50, 50)
벤제마.head(3)

0it [00:00, ?it/s]

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,67111168e585b1507b9b63fd,2024-10-17T13:38:00,897a9306e15e6c3f1bd48b0030e19c8d,맨유x루카쿠,202411,패,2,1.0,1.0,0.0,...,0.0,0.0,11.0,10.0,0.0,0.0,3.0,0.0,17.0,4.0
1,67111168e585b1507b9b63fd,2024-10-17T13:38:00,bcb04e3bbd36ee0bb20f3b9c263fe717,벤제마,202411,승,1,0.0,1.0,0.0,...,0.0,0.0,11.0,11.0,0.0,0.0,6.0,0.0,19.0,9.0
2,67110ee93a32267acded5962,2024-10-17T13:29:40,bcb04e3bbd36ee0bb20f3b9c263fe717,벤제마,202411,승,0,0.0,0.0,0.0,...,4.0,4.0,8.0,6.0,0.0,0.0,10.0,0.0,14.0,7.0

In [106]:
mid8_ranker_game = pd.concat([GUl멘, 새르히오라모스, 검둥이축구단, 월컵우승캐나다, 지원이의ak47, 병훈부시, 이지은0516, 소금도둥덕예둥, 벤제마], axis=0)
mid8_ranker_game.head(3)

,matchId,matchDate,ouid,nickname,seasonId,matchResult,matchEndType,systemPause,foul,injury,...,drivenGroundPassTry,drivenGroundPassSuccess,throughPassTry,throughPassSuccess,lobbedThroughPassTry,lobbedThroughPassSuccess,blockTry,blockSuccess,tackleTry,tackleSuccess
0,66fd4b4dd2234dab0ca7b90e,2024-10-02T13:42:19,eae34ad352194c477d893eeaa1e4d7da,GUl멘,202410,승,0,0.0,1.0,0.0,...,4.0,3.0,17.0,14.0,0.0,0.0,7.0,2.0,8.0,4.0
1,66fd4b4dd2234dab0ca7b90e,2024-10-02T13:42:19,8eaf7bddd7c10753a135f430021df38f,오늘의FC,202410,패,0,0.0,2.0,0.0,...,10.0,10.0,7.0,7.0,0.0,0.0,6.0,0.0,6.0,3.0
2,66fd489c03db5550f08d993c,2024-10-02T13:31:36,eae34ad352194c477d893eeaa1e4d7da,GUl멘,202410,무,0,0.0,0.0,0.0,...,2.0,2.0,15.0,11.0,0.0,0.0,13.0,2.0,3.0,2.0

In [107]:
# 9992 ~ 10000명의 게임 기록 csv파일로 저장
mid8_ranker_game.to_csv('mid_8ranker_game.csv', index=False)